body,button {
    font-family: 'Pencil', sans-serif;
    font-size: larger;
}

.construct {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

table {
    table-layout: fixed;
    width: 20em;
    text-align: center;
}